package navigation

// Path: backend/templates/navigation/header.templ
// Author: Daniel J. Manning
// GitHub: https://github.com/djmcodechain/Portfolio

templ Header() {
}

// GNU Public
// Copyright (c) 2025 Daniel J. Manning
// Created: Sun, 05 Oct 2025
//
// License: GNU Public (See LICENSE file in repository)