package views

// Path: backend/handlers/maintenanceBody.templ
// Author: Daniel J. Manning
// GitHub: https://github.com/djmcodechain/Portfolio

templ MaintenanceBody() {
    <p>This site is under Maintenance</p>
}

// GNU Public
// Copyright (c) 2025 Daniel J. Manning
// Created: Sun, 05 Oct 2025
//
// License: GNU Public (See LICENSE file in repository)