package templates

// Path: backend/cmd/main.go
// Author: Daniel J. Manning
// GitHub: https://github.com/djmcodechain/Go-Portfolio
templ MaintainenceTemplate() {
	@Base("Maintainence", "<h1>Coming soon!</h1>")
}

// GNU Public
// Copyright (c) 2025 Daniel J. Manning
// Created: Sun, 05 Oct 2025
//
// License: GNU Public (See LICENSE file in repository)
